@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.wholeBody {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* User choice portion style */
.userChoice {
  display: inline;
  text-align: center;
  justify-content: flex-start;
  width: 15vw;
}

.userChoice p {
  font-size: 3rem;
  font-family: 'Lobster', cursive;
  font-weight: lighter;
  color: rgb(150, 1, 1);
  margin-bottom: 3%;
}

.btnDisabled {
  padding: 1.5% 6%;
  margin: 2% 0;
  border: none;
  border-radius: 20px;
  font-size: 1.5rem;
  font-family: 'Lobster', cursive;
  background-color: gray;
  color: black;
  cursor: pointer;
}

.btns,
.btnsDisabled {
  display: flex;
  flex-direction: column;
}

.playButton,
.resBtn {
  padding: 1.5% 6%;
  margin: 2% 0;
  border: none;
  border-radius: 20px;
  font-size: 1.5rem;
  font-family: 'Lobster', cursive;
  background-color: purple;
  color: white;
  cursor: pointer;
}

.btnsDisabled button {
  padding: 6% 0;
  margin: 2% 0;
  border: none;
  border-radius: 20px;
  font-size: 1.5rem;
  font-family: 'Lobster', cursive;
  font-weight: lighter;
  background-color: gray;
  color: black;
  cursor: pointer;
}

.btns button {
  padding: 6% 0;
  margin: 2% 0;
  border: none;
  border-radius: 20px;
  font-size: 1.5rem;
  font-family: 'Lobster', cursive;
  font-weight: lighter;
  background-color: purple;
  color: white;
  cursor: pointer;
}

.btns button:hover {
  background-color: rgba(128, 0, 128, 0.664);
  color: rgba(255, 255, 255, 0.664);
}

/* User choice and score-board portion style */

.lowerPart {
  display: flex;
  width: 70%;
  margin: 0 100px;
  justify-content: space-between;
  margin-top: 5%;
}

.scoreBoard {
  display: inline-block;
  margin-right: 7rem;
}

.score,
.choice {
  display: inline-block;
  flex-direction: column;
  text-align: center;
  border-collapse: collapse;
}

.score th,
.choice th {
  font-family: 'Lobster', cursive;
  font-size: 2rem;
  padding: 1rem;
  color: rgb(90, 2, 2);
}

.score td,
.choice td {
  font-family: 'Lobster', cursive;
  font-size: 1.5rem;
}

.resBtn {
  margin-top: 2%;
}

@media screen and (max-width: 600px) {

  .playButton,
  .btnsDisabled button {
    margin: 0.5% 0;
  }

  .userChoice p {
    margin-top: 20px;
  }

  .userChoice {
    width: 30%;
  }

  .btns button {
    font-size: 2rem;
  }

  .lowerPart {
    flex-direction: column;
  }

  .scoreBoard {
    margin-right: 0;
  }
}